body {
    background-color: #333333;
    color: #c7c7c7;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #c7c7c7;
  }

  .btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #444444 !important;
  }

  .btn-outline-secondary {
    background-color: transparent;
    background-image: none;
}
  
  .bg-steel {
    background-color: #444444;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #c7c7c7;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #333333;
    padding: 10px 20px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #c7c7c7;
  }
  
  a.article-title:hover {
    color: #ffffff;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #c7c7c7
  }
  
  .article-metadata a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  
  .account-heading {
    font-size: 2.5rem;
  }