{% extends "layout.html" %}
{% block content %}

	<style>
		*{padding:0;margin:0;}


	.float{
		position:fixed;
		width:60px;
		height:60px;
		bottom:40px;
		right:40px;
		background-color:#0C9;
		color:#FFF;
		border-radius:50px;
		text-align:center;
		box-shadow: 2px 2px 3px #999;
	}

	.my-float{
		margin-top:22px;
	}
	</style>
    <div class="content-section">
    		<h2>{{movieName}} : [{{movieRatings}}/10]	</h2>

   			<h4> genre: {{movieGenre}} </h4>
    		<img src = {{poster}} width="300">
    		<br>
    		<h4>Synopsis</h4>{{moviePlot}}
    		<br>
    		

    </div>
    <a href="#" class="float">
	<i class="fa fa-plus my-float"></i>
	</a>
{% endblock content %}
