{% extends "layout.html" %}
{% block content %}

	<style>
.kc_fab_main_btn{
  background-color:#F44336;
  width:60px;
  height:60px;
  border-radius:100%;
  background:#F44336;
  border:none;
  outline:none;
  color:#FFF; 
  transition: all 0.5s;
  cursor: pointer;
  position: fixed;
  left: 800px;
  top: 150px;

  font-size:36px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition:.3s;  
  -webkit-tap-highlight-color: rgba(0,0,0,0);

}
.kc_fab_main_btn:focus {
  transform:scale(1.1);
  transform:rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.kc_fab_main_btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.kc_fab_main_btn:hover span {
  padding-right: 25px;
}
.kc_fab_main_btn:hover span:after {
  opacity: 1;
  right: 0;
}


	</style>
    <div class="content-section">
    		<h2>{{movieName}} : [{{movieRatings}}/10]	</h2> <button class="kc_fab_main_btn" onclick="window.location.href='{{ url_for( 'addToWatchedList', movies_ID=M_ID)}}';"> + </button> 
   			<h4> genre: {{movieGenre}} </h4>
    		<img src = {{poster}} width="300">
    		<br>
    		<h4>Synopsis</h4>{{moviePlot}}
    		<br>
    		

</div>
    
{% endblock content %}
